<p><strong>Experimental Publishing II – Critique, Intervention, And Speculation</strong>  </p>
<p>A half-day symposium with talks by Mark Amerika (UC Boulder) and Nick Thurston (University of Leeds)</p>
<p><img alt="" src="https://www.post-publishing.org/wp-content/uploads/2019/04/postpublishing-2-poster-724x1024.png">
<strong>2:15-5:30pm May 28</strong><br>
<strong>Centre for Postdigital Cultures</strong><br>
<strong>Teaching Room</strong><br>
<strong>3rd Floor Lanchester Library</strong><br>
<strong>Coventry University</strong><br>
<strong>Registration (free):</strong> <a href="https://www.coventry.ac.uk/research/about-us/research-events/2019/experimental-publishing-ii2/">https://www.coventry.ac.uk/research/about-us/research-events/2019/experimental-publishing-ii2/</a></p>
<p>In 2019 and 2020, the Centre for Postdigital Cultures (CPC) will be hosting a series of symposia exploring contemporary approaches to experimental publishing. Over the course of the series, we will ask questions about the role and nature of experimentation in publishing, about ways in which experimental publishing has been formulated and performed in the past, and ways in which it shapes our publishing imaginaries at present. This series aims to conceptualise and map what experimental publishing is or can be and to explore what lies behind our aims and motivations to experiment <em>through</em> publishing. As such, it forms the first activity within the CPC’s new <a href="https://post-publishing.org/">Post-Publishing programme</a>, an initiative committed to exploring iterative and processual forms of publishing and their role in reconceptualising publishing as an integral part of the research and writing process, i.e. as that which inherently shapes it.</p>
<p><strong>Speakers</strong></p>
<p><a href="http://markamerika.com/">Mark Amerika</a>, a Professor of Distinction at the University of Colorado, has exhibited his artwork internationally at venues such as the Whitney Biennial of American Art, the Institute of Contemporary Arts in London, and The ZKM | Center for Art and Media in Karlsruhe, Germany.  He is the author of many books including <em>The Kafka Chronicles</em> (FC2), <em>Sexual Blood</em> (FC2), <em>remixthebook</em> (University of Minnesota Press—<a href="https://eur01.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.remixthebook.com%2F&amp;data=02%7C01%7Cac8699%40coventry.ac.uk%7C18750fedb8cd44b2a07c08d6cf0e32b1%7C4b18ab9a37654abeac7c0e0d398afd4f%7C0%7C1%7C636924057228008228&amp;sdata=KtibnIQIoTPIjTZEDMdx2JBDpedyVSl5CwKOdoMkqss%3D&amp;reserved=0">remixthebook.com</a>), <em>META/DATA: A Digital Poetics</em> (The MIT Press), <em>remixthecontext</em> (Routledge), and <em>Locus Solus (An Inappropriate Translation Composed in a 21st Century Manner)</em> (Counterpath Press).</p>
<p><a href="https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.nickthurston.info%2F&amp;data=02%7C01%7Cac8699%40coventry.ac.uk%7C861725ba438d4bca719508d6ce809c7d%7C4b18ab9a37654abeac7c0e0d398afd4f%7C0%7C0%7C636923449130244052&amp;sdata=4CBXRgQyCt4Mgg7i7upYIoIWTWFVmWMLbCw8icE9VB4%3D&amp;reserved=0">Nick Thurston</a> is a writer and editor who makes artworks. His most recent books include the co-edited collection, <em>Post-Digital Cultures of the Far Right</em> (Bielefeld: Transcript, 2018), and an experimental Spanish-language translation of his last poetic book by NO_LIBROS (Barcelona, 2019). Recent and current exhibitions include shows at Transmediale (Berlin, 2018), Q21 (Vienna, 2018), MuHKA (Antwerp, 2018) and HMKV (Dortmund, 2019).</p>
<p><strong>Concept</strong></p>
<p>Experimental publishing can be positioned as an intervention, a mode of critique, and a tool of speculation. It is a way of thinking about writing and publishing today that has at its centre a commitment to questioning and breaking down distinctions between practice and theory, criticality and creativity, and between the scholarly and the artistic.</p>
<p>In this series of events we propose to explore contemporary approaches to experimental publishing as:</p>
<ul>
<li><em>an ongoing critique</em> of our current publishing systems and practices, deconstructing existing hegemonies and questioning the fixtures in publishing to which we have grown accustomed—from the book as a stable object to single authorship and copyright.</li>
<li><em>an affirmative practice</em> which offers means to re-perform our existing writerly, research, and publishing institutions and practices <em>through</em> publishing experiments.</li>
<li><em>a speculative practice</em> that makes possible an exploration of different futures for writing and research, and the emergence of new, potentially more inclusive forms, genres, and spaces of publishing, open to ambivalence and failure.</li>
</ul>
<p>This take on experimentation can be understood as a heterogeneous, unpredictable, and uncontained <em>process</em>, one that leaves the critical potentiality of the book as a medium open to new intellectual, political, and economic contingencies.</p>