<p>A half-day symposium with talks by Rebekka Kiesewetter and Eva Weinmayr (AND Publishing/Valand Academy)  </p>
<p><strong><img alt="" src="https://www.post-publishing.org/wp-content/uploads/2019/03/Screen-Shot-2019-03-12-at-6.17.38-PM-212x300.png">1-5pm April 11</strong><br>
<strong>Centre for Postdigital Cultures</strong><br>
<strong>Teaching Room</strong><br>
<strong>3rd Floor Lanchester Library</strong><br>
<strong>Coventry University</strong><br>
<strong>Registration (free):</strong> <a href="https://experimentalpublishing.eventbrite.co.uk/">https://experimentalpublishing.eventbrite.co.uk</a></p>
<p>This is the first in a series of symposia hosted by the Centre for Postdigital Cultures (CPC) exploring contemporary approaches to experimental publishing. Over the course of the series, we will ask questions about the role and nature of experimentation in publishing, about ways in which experimental publishing has been formulated and performed in the past, and ways in which it shapes our publishing imaginaries at present. This series aims to conceptualise and map what experimental publishing is or can be and to explore what lies behind our aims and motivations to experiment  <em>through</em> publishing. As such, it forms the first activity within the CPC’s new  <a href="https://post-publishing.org/">Post-Publishing programme</a>, an initiative committed to exploring iterative and processual forms of publishing and their role in reconceptualising publishing as an integral part of the research and writing process, i.e. as that which inherently shapes it.</p>
<p><strong>Speakers</strong></p>
<p><a href="https://www.rebekkakiesewetter.com/">Rebekka Kiesewetter</a>  holds a Lic. phil. I (MA) in art history, economics and modern history from the University of Zurich. Her works in critical theory, practice and making as critique focus on the intersections of experimental publishing, architecture, arts, artistic research, and the humanities.</p>
<p><a href="http://evaweinmayr.com/">Eva Weinmayr</a> is an artist, educator, researcher and writer based in London and Gothenburg investigating the border crossings between contemporary art, radical education, and institutional analysis by experimenting with modes of intersectional feminist knowledge practices. She currently conducts a PhD on micro-politics of publishing at Valand Academy, University of Gothenburg and runs together with artist Rosalie Schweiker AND Publishing, a feminist publishing practice based in London.</p>
<p><img alt="" src="https://www.post-publishing.org/wp-content/uploads/2019/03/AND-Publishing-The-Piracy-Reader-2014.png"></p>
<p>AND Publishing, The Piracy Reader, 2014</p>
<p><strong>Concept</strong></p>
<p>Experimental publishing can be positioned as an intervention, a mode of critique, and a tool of speculation. It is a way of thinking about writing and publishing today that has at its centre a commitment to questioning and breaking down distinctions between practice and theory, criticality and creativity, and between the scholarly and the artistic.</p>
<p>In this series of events we propose to explore contemporary approaches to experimental publishing as:</p>
<ul>
<li><em>an ongoing critique</em>  of our current publishing systems and practices, deconstructing existing hegemonies and questioning the fixtures in publishing to which we have grown accustomed—from the book as a stable object to single authorship and copyright.</li>
<li><em>an affirmative practice</em>  which offers means to re-perform our existing writerly, research, and publishing institutions and practices  <em>through</em>  publishing experiments.</li>
<li><em>a speculative practice</em>  that makes possible an exploration of different futures for writing and research, and the emergence of new, potentially more inclusive forms, genres, and spaces of publishing, open to ambivalence and failure.</li>
</ul>
<p>This take on experimentation can be understood as a heterogeneous, unpredictable, and uncontained  <em>process</em>, one that leaves the critical potentiality of the book as a medium open to new intellectual, political, and economic contingencies.</p>
<p><br>
<br></p>
<hr>