<p>We regard the ethical responsibility implied in the act of critique as a commitment to making - a poethics. In this spirit, Post Office commits to the following:</p>
<ul>
<li>
<p>to pursue a critique of the present condition of public institutions, in crisis and under threat due to the rise in neoliberalism and the ongoing cuts in public funding, while at the same time imagining their transformation by contributing common tools and counter-institutional practices.</p>
</li>
<li>
<p>to develop technologies, workflows and skills, which form an integral part of our inquiries. Too often those writing on the digital do so from a safe distance, without gaining sufficient understanding of how technologies operate, what are the politics of those who develop and use them, and what are the alternatives that technological orientations offer (see our Postscript page on this website).</p>
</li>
<li>
<p>to investigate the transformations of labour, property relations and mechanisms of control over social relations resulting from processes of digitisation, financialisation and automation, while supporting and developing practices emerging in response to this crisis - ranging from alternative organisational models and collective workflows to refusal.</p>
</li>
<li>
<p>to pro-actively seek co-conspirators across diverse constituencies. To persist in the articulation of a non-normative ethics of care for those we collaborate with and do not allow that any labour (be it qualified both as productive or reproductive) remains undervalued, unremunerated or unreflectively assigned.</p>
</li>
<li>
<p>to make our knowledge relevant and available across the institutions we are implicated with, whenever possible.</p>
</li>
</ul>
<p><br>
<br></p>
<hr>