<p><img alt="test" src="/images/POP.png"></p>
<p><a href="https://twitter.com/POPostpress">https://twitter.com/POPostpress</a></p>
<p>Post Office Press (POP) is a scholar-led experimental and collective press based within Coventry University’s Post Office/Centre for Postdigital Cultures. POP focuses exclusively on the publishing and promotion of experimental academic publications. Furthermore, as a scholar-led and collective press, its aim is to promote independent, not-for profit academic-led publishing and as such to support more diversity in the scholarly publishing landscape—currently dominated by commercial players.</p>
<p>POP will support the development of and the experimentation with alternative forms of scholarly publishing, be they formally challenging or more conceptual in outlook (for example anonymous publications, which can be perceived as a provocation to academia's star system). With its focus on experimentation, POP wants to join a wider movement of scholars and presses committed to exploring new publication practices, ones that take advantage of the limitless possibilities of both print and digital media and their various affordances. POP wants to do so to accommodate scholars’ changing research needs and practices, which are increasingly digital, social, and multimodal. It wants to push the boundaries of what counts as scholarship and academic publication.</p>
<p>POP wants to provide an experimental space, yet it also wants to promote and create a wider ecology that is open to emerging forms, genres and spaces of scholarly practice. By supporting experimentation POP seeks to creatively disrupt and question existing practices in academic publishing, which often remain print-based and focused. Yet at the same time POP wants to create conditions under which any experimentation with the form of our research is not held back by a lack of technological expertise (from either author or press) nor by commercial imperatives—i.e. whether a publication is on trend or has ‘market appeal’.</p>
<p>POP published six pamphlets for the <a href="http://radicaloa.disruptivemedia.org.uk/conferences/roa2/">2nd Radical Open Access conference</a>, which can be found in the repository of <a href="https://hcommons.org/members/pop/">Humanities Commons</a>.
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19827/"><em>Predatory Publishing</em></a>
<img alt="Predatory Publishing" src="/images/POP_predatory_publishing.png">
<strong>Authors:</strong> Kirsten Bell, Jill Claassen, Lena Nyahodza, Reggie Raju, Vaclav Stetka<br>
<strong>Editors:</strong> punctum books, Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M6N58CK3D">http://dx.doi.org/10.17613/M6N58CK3D</a>
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19825/"><em>Guerilla Open Access</em></a>
<img alt="Guerilla Open Access" src="/images/POP_guerilla_OA.png">
<strong>Authors:</strong> Laurie Allen, Balázs Bodó, Chris Kelty<br>
<strong>Editors:</strong> Memory of the World (Marcell Mars &amp; Tomislav Medak), Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M6RX93C77">http://dx.doi.org/10.17613/M6RX93C77</a>
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19823/"><em>Humane Metrics/Metrics Noir</em></a>
<img alt="Humane Metrics/Metrics Noir" src="/images/POP_humane_metrics.png">
<strong>Authors:</strong> Martina Franzen, Eileen Joy, Chris Long<br>
<strong>Editors:</strong> meson press, Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M6WP9T61">http://dx.doi.org/10.17613/M6WP9T61M</a>
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19821/"><em>Competition and Cooperation</em></a>
<img alt="Competition and Cooperation" src="/images/POP_competition_cooperation.png">
<strong>Authors:</strong> Maddalena Fragnito, Valeria Graziano, Sebastian Nordhoff<br>
<strong>Editors:</strong> Open Humanities Press, Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M61G0HT64">http://dx.doi.org/10.17613/M61G0HT64</a>
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19819/"><em>The Geopolitics of Open</em></a>
<img alt="The Geopolitics of Open" src="/images/POP_geopolitics_of_open.png">
<strong>Authors:</strong> Denisse Albornoz, George (Zhiwen) Chen, Maggie Huang, Tasneem Mewa, Gabriela Méndez Cota, Ángel Octavio Álvarez Solís<br>
<strong>Editors:</strong> Culture Machine, Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M65717N1">http://dx.doi.org/10.17613/M65717N1C</a>
<br></p>
<p><a href="https://hcommons.org/deposits/item/hc:19815/"><em>The Poethics of Scholarship</em></a>
<img alt="The Poethics of Scholarship" src="/images/POP_poethics_of_scholarship.png">
<strong>Authors:</strong> Janneke Adema, Kaja Marczewska, Frances McDonald, Whitney Trettien<br>
<strong>Editors:</strong> Post Office Press<br>
<strong>Permanent URL:</strong> <a href="http://dx.doi.org/10.17613/M6DN3ZV6">http://dx.doi.org/10.17613/M6DN3ZV67</a></p>
<p><br>
<br></p>
<hr>