<p><img alt="" src="/images/Colossus.jpg">
<em>Photo: A Colossus Mark 2 code-breaking computer being operated by Dorothy Du Boisson and Elsie Booker, 1943.</em></p>
<h1 id="the-notion-of-post-in-theory">The Notion of Post- in Theory</h1>
<p>The research we undertake under the name of Post Office combines several theoretical strands and ideas around the prefix post-, which have been circulating in critical theoretical discourses, from postmodernism to postcolonialism and, more recently, featuring in new fields of debates such as the post-humanities and post-digital cultures.</p>
<ul>
<li>Post-digital</li>
<li>Post-humanities</li>
<li>Post-human</li>
<li>Post-work</li>
<li>Post-publishing</li>
<li>Post-theory</li>
<li>Post-normal science</li>
<li>Post-university</li>
<li>Post-capitalism</li>
</ul>
<p>Post- here does not denote an ‘after’ or a distancing. Post- is not set up in an opposition to what precedes it, but can be perceived as deconstructing its assertions in a continuous manner, as a form of radical and ongoing self-critique. The post-humanities, post-digital or post-human have always already been a part of the proclaimed otherness of the humanities, digital, or human.</p>
<h1 id="postal-service-as-a-foundational-communication-network">Postal Service as a Foundational Communication Network</h1>
<p>The name Post Office is moreover a nod to the contested history and potential of one of the key institutions of modern communication.  </p>
<p>Postal services as a system of diffusion of messages emerged as paper replaced stone, as the written document entrusted to a courier replaced the word conveyed by a trusted messenger. While pre- and nonmodern societies have known a number of postal systems, including the formidable network of postal stations set up by the Mongol Empire in the 12th century, it is with the development of modern states that the postal service becomes a government monopoly and public utility. In the 17th century, governments needed a system to facilitate and control the exchange between their subjects as literacy spread (Jeffreys-Jones 2017). When the UK Post Office was first set up by Oliver Cromwell as a state monopoly in 1657, it was as a means of surveillance: the opening of mail was thought to be ‘the best means to discover and prevent any dangerous and wicked designs against the Commonwealth’ (Society for the Diffusion of Useful Knowledge 1834, p. 35).</p>
<p>In the 18th century, dissemination networks setup by the literary underground conspiring against the Ancien Regime (Darnton 1982) gave an ideological imprint to the post-Revolutionary establishment of the public postal service, where society-wide private communication of letters and the public dissemination of print materials became the foundation of civic, cultural, and political life (Gallagher 2017) and consolidated nations as imagined communities (Anderson 2006). And finally since the 19th century, the emerging industrial capitalism required a system of control and coordination over geographically expanding production and distribution (Beniger 1989).</p>
<p>From the confluence of these processes, the postal service solidified as a national and transnational communication network and a communication infrastructure owned by the public for the benefit of the public, laying down the physical routes, network topologies and routing paradigms for later communications networks. Since its inception, the Post Office has been an intensely technological and political public institution.</p>
<p>For instance in the UK, The Post Office Research Station was established in 1909 as a separate section of the General Post Office. Here, investigations of a purely experimental nature were pursued in relation to the telephone and telegraph services and electrical communication more generally. The Post Office Research Station moved to Dollis Hill in north London in 1921, becoming one of the largest and most significant sites for technological innovation by the modern British state, responsible for a host of technological breakthroughs: they introduced the speaking clock; they developed the Trans-Atlantic telephone cable and the first transatlantic radiotelephone service; and in 1943 they build the world's first programmable electronic digital computer – Colossus – which was used at Bletchley Park during the Second World War as a code-breaking computer.</p>
<p>In time, the technology that was (in part) developed out of the Post Office would eventually evolve to eclipse its central role in the dissemination of messages. The disaggregation of telephone and postal services and the rise of digital networks in the 90s deeply modified the status of this modern institution. Yet, the exchange of digital messages is not immaterial, but it relies on the concrete communication infrastructures first imagined as part of global postal services networks. Information coordinates production and distribution, flows of energy and matter. Thus, it is of little surprise that sending parcels and sending messages continue to be entangled. Ironically, even Amazon.com, the Internet giant with the largest valuation as of today and arguably the company playing the biggest transformative role in global material flows, got off to a start only because it could rely - as it continues to do -  on postal services. As postal services are presently undergoing privatisations, restructurings, and rollbacks, they continue to provide a fundamental service without which the digital economy could not operate.</p>
<h1 id="the-post-as-mess-media-theory">The Post- as Mess Media Theory</h1>
<p>Media theory always faces a dilemma with respect to what route to take: will its object of analysis be the technological infrastructure of messaging in a society or will its object of analysis be the impact of messaging on society. Will it do materialist media archaeology or sociology and political economy of media? Will it be closer to engineering or critique? There is no resolution - and that absence of resolution is a productive conjuncture for research. Media are messy (and leaky - see Chun 2008), not out of mere hybridity or entanglement, but out of the inassimilable encounter of persistent forms (Levine 2015) - conflicting technological formalisations and social institutions.</p>
<p>Technological transformations unleashed by communication networks - digitisation, computerisation and automation - in the present are challenging the continued existence of some of the fundamental institutions of modern societies responsible for universal access to social goods: employment, care, education, housing, etc. In those transformations, technologies are anything but apolitical. A technological design choice - such as that of the distributed allocation of a packet switching network (TCP/IP) as opposed to the centralised allocation of radio frequencies to radio stations - can overturn scarcity into abundance. And yet, the resulting condition, proto-political, still requires political struggle over institutional arrangements. Commoning or enclosing: more equal or more unequal, more centralised or more autonomous, more managerial or more cooperative.</p>
<p>With our research activities we want to investigate, support, and develop practices emerging in response to the crisis of institutions - ranging from alternative organisational models and collective modes of working to refusal. There is no easy way to square technological formalisations and social institutions - no easy, certain and unambiguous recipes for action. In that sense, the Post Office is a performative intervention concerned with creating masked means of intervention that are not necessarely easy to read since, following ‘The Masked Philosopher’ interview by Foucault, 'a name' sometimes 'makes reading too easy'.</p>
<hr>
<p>Anderson, B. (2006) <em>Imagined Communities: Reflections on the Origin and Spread of Nationalism</em>. Verso</p>
<p>Beniger, J. (1989) <em>The Control Revolution: Technological and Economic Origins of the Information Society</em>. Harvard University Press</p>
<p>Chun, W.H.K. (2008) <em>Control and Freedom: Power and Paranoia in the Age of Fiber Optics</em>. MIT Press</p>
<p>Darnton, R. (1982) <em>The Literary Underground of the Old Regime</em>. Harvard University Press</p>
<p>Gallagher, W. (2016) <em>How the Post Office Created America: A History</em>. Penguin</p>
<p>Jeffreys-Jones, R. (2017) <em>We Know All about You: The Story of Surveillance in Britain and America</em>. Oxford University Press</p>
<p>Levine, C. (2015) <em>Forms: Whole, Rhythm, Hierarchy, Network</em>. Princeton University Press</p>
<p>Society for the Dissemination of Useful Knowledge (1834) <em>The Penny Magazine of the Society for the Diffusion of Useful Knowledge: The History and Present State of the Post Office</em>. Charles Knight</p>
<hr>