<p>The Post Office collective is involved in developing socio-technical workflows, starting from our own position of agency - in knowledge production, scholarly publishing, access to knowledge, and processes of political pedagogy. This is early work in progress, so stay tuned, but here is something to give you an idea:</p>
<ol>
<li><a href="http://radicaloa.disruptivemedia.org.uk/philosophy/">Scholar-led publishing</a></li>
<li><a href="https://knowledge-production.github.io/forge/tutorials/book-digitization.html">Amateur librarianship</a></li>
<li><a href="https://issuu.com/instituteofnetworkcultures/docs/statemachines_v14_zondermarks/116">Online syllabi of social movements</a></li>
</ol>
<p><br>
<br></p>
<hr>